In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
#import csv file
df = pd.read_csv('BNB.csv', sep=";")
df

           Date   Price    Open    High     Low      Vol  Change
0     5/18/2018   15.11   12.37   16.23   12.01  5630000  0.2218
1     5/19/2018   14.33   15.11   15.65   13.95  3390000 -0.0516
2     5/20/2018   14.17   14.33   14.39   13.69  2410000 -0.0113
3     5/21/2018   14.67   14.17   14.80   14.08  2550000  0.0357
4     5/22/2018   13.88   14.67   14.84   13.71  2360000 -0.0540
...         ...     ...     ...     ...     ...      ...     ...
1822  5/14/2023  312.09  310.71  314.70  309.50   199430  0.0045
1823  5/15/2023  313.40  312.09  316.20  310.70   208510  0.0042
1824  5/16/2023  311.30  313.40  314.00  309.40   190080 -0.0067
1825  5/17/2023  314.29  311.30  314.30  307.20   229040  0.0096
1826  5/18/2023  309.40  314.29  314.80  306.21   245410 -0.0156

[1827 rows x 7 columns]

In [3]:
#Convert the 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Set 'Date' as the index
df.set_index('Date', inplace=True)

# Create the target variable
y = df['Price']

# Create the feature matrix
X = df.drop('Price', axis=1)

In [4]:
# Splitting the dataset into train, test, and validation sets
# With 5:3:2
X_train, X_test_val, y_train, y_test_val = train_test_split(X, y, test_size=0.5)
X_test, X_val, y_test, y_val = train_test_split(X_test_val, y_test_val, test_size=0.4)

In [5]:
# Train the Random Forest model
rf_model = RandomForestRegressor(n_estimators=100, random_state = 42 )
rf_model.fit(X_train,y_train)

RandomForestRegressor(random_state=42)

In [6]:
# Make predictions on the test set
y_pred_test = rf_model.predict(X_test)


# Make predictions on the validation set
y_pred_val = rf_model.predict(X_val)

# calculate the RMSE
valid_rmse = np.sqrt(np.mean((y_pred_val - y_val)**2))
test_rmse = np.sqrt(np.mean((y_pred_test - y_test)**2))
print('Validation RMSE:', valid_rmse)
print('Testing RMSE:', test_rmse)

# calculate the MAPE
valid_mape = np.mean(np.abs((y_val - y_pred_val) / y_val)) * 100
test_mape = np.mean(np.abs((y_test - y_pred_test) / y_test)) * 100
print("Validation MAPE:", valid_mape)
print("Testing MAPE:", test_mape)

# calculate the MAE
valid_mae = np.mean(np.abs(y_pred_val - y_val))
test_mae = np.mean(np.abs(y_pred_test - y_test))
print("Validation MAE:", valid_mae)
print("Testing MAE:", test_mae)

Validation RMSE: 7.005469957814077
Testing RMSE: 6.190649875499454
Validation MAPE: 1.6169409962446986
Testing MAPE: 1.5883646431038778
Validation MAE: 2.772403278688508
Testing MAE: 2.686225912408746